#parent1{
	    display:flex;
	    flex-flow: row wrap;
	    justify-content: space-between;
	    align-items: center;
	    border:2px solid gray;
	    height:600px;
	    padding:20px;
	    align-content: flex-start;
	}

#parent1 div{
		width:150px;
		padding:20px;
		border:2px solid red;
		margin-top:20px;
	}

#parent1 div:nth-child(1){
	height:120px;
}
#parent1 div:nth-child(2){
	height:100px;
}
#parent1 div:nth-child(3){
	height: 40px;
}
		
#parent1 div:nth-child(4){
	height:200px;
	border-color: blue;
}

@media screen and (max-width: 850px) {
	#parent1{
	    display:flex;
	    flex-flow: row wrap;
	    justify-content: space-between;
	    align-items: flex-start;
	    border:2px solid gray;
	    height:600px;
	    padding:20px;
	}
	#parent1 div:nth-child(4){
	    order:-1;
	    height:200px;
    }
}
